@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-container {
	background-image: url('../../public//banner.png');
	background-repeat: no-repeat;
}

.primary-btn {
	background: #58bf77;
	color: white;
	padding: 12px 56px;
	width: fit-content;
	border-radius: 8px;
}
